{% extends 'base.html.twig' %}

{% block title %}Measurement index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_MEASUREMENT_INDEX') %}
    <h1>Measurement index</h1>
    <a href="{{ path('app_location_index') }}"> Locations </a>
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Conditions</th>
                <th>Precipitation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
                <td>{{ measurement.temperature }}</td>
                <td>{{ measurement.conditions }}</td>
                <td>{{ measurement.precipitation }}</td>
                <td>
                    {% if is_granted('ROLE_MEASUREMENT_SHOW') %}
                    <a href="{{ path('app_measurement_show', {'id': measurement.id}) }}">show</a>
                    {% endif %}
                    {% if is_granted('ROLE_MEASUREMENT_EDIT') %}
                    <a href="{{ path('app_measurement_edit', {'id': measurement.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_MEASUREMENT_NEW') %}
    <a href="{{ path('app_measurement_new') }}">Create new</a>
    {% endif %}
{% endblock %}
